<ion-header>
  <ion-toolbar>
    <ion-title>Carrental</ion-title>
  </ion-toolbar>
  <ion-toolbar class="toolbar">
     <ion-searchbar class="search" [(ngModel)]="searchQuery" (ionInput)="onSearchInput($event)" (ionClear)="onClearSearch()"></ion-searchbar>
      <button class="filter-link" (click)="goToAdvancedSearch()" ion-button icon-only>
        <ion-icon name="options-outline"></ion-icon>
      </button> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-container">
    <strong>Welcome</strong>
  </div>
  <ion-grid>
    <ion-row>
       <div class="car-container" *ngFor="let car of filteredItems">
          <ion-card class="car-card" (click)="onCardClick(car)">
            <img src="{{ car.image }}" alt="{{ car.brand }} {{ car.model }}">
            <ion-card-content>
              <ion-card-title class="car-name">
                {{ car.brand }} {{ car.model }}
              </ion-card-title>
              <p class="car-price">{{ car.price }}DT par jour</p>
            </ion-card-content>
          </ion-card>
          <div class="button-container">
            <ion-button (click)="printMessage('Hello from the button!')" size="small">Reserver</ion-button> 
          </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>




