<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scrollY="false">
    <form class="ion-padding" (ngSubmit)="login()">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" [(ngModel)]="email" name="email" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Mot de passe</ion-label>
              <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button type="submit" expand="block" color="primary" [disabled]="!email || !password">
              Se connecter
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <div class="login-options ion-padding ion-text-center">
      <p>Vous n'avez pas de compte ? <a [routerLink]="['/signup']">Inscrivez-vous</a></p>
    </div>
</ion-content>