<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gérer parc de voitures</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="margin-top: 20px;">
  <ion-button expand="block" (click)="addCar()">
    <ion-icon name="add"></ion-icon>
    Ajouter Voiture
  </ion-button>
  <ion-button expand="block" (click)="manageCars()">
    <ion-icon name="create"></ion-icon>
    Modifier détails de voiture
  </ion-button>
  <ion-button expand="block" (click)="removeCar()">
    <ion-icon name="close"></ion-icon>
    Supprimer Voiture
  </ion-button>
  <ion-button expand="block" (click)="checkAvailability()">
    <ion-icon name="time"></ion-icon>
    Vérifier Disponibilité
  </ion-button>
  <ion-button expand="block" (click)="checkMaintenance()">
    <ion-icon name="cog"></ion-icon>
    Vérifier Maintenance
  </ion-button>
</ion-content>

<style>
  
  .profile-card {
    border-radius: 5%;
    align-items: center;
  }
  .icon {
    width: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .dash-button {
    margin-left: 11vw;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    border-radius: 3%;
    background-color: #4F5D75;
  }
  .logout-element{
    position: absolute;
    right: 0;
  }
  .logout-icon{
    color: #e63946;
  }
  .details-title {
    font-size: 18px;
    font-weight: 700;
  }
  .details{
    font-size: 14px;
  }
  .details-labels {
    font-size: 16px;
  }
  .save-btn {
    margin-top: 20px;
    display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 180px;
        margin: 20px;
        margin-left: 100px;
        border-radius: 10px;
        border: 2px solid #ccc;
        background-color: #2196F3;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all 0.3s ease-in-out;
  }
</style>