<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dash-admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="profile-card"> 
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/administrator.png" />
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2>Responsable Agence</h2>
      </ion-label>
    </ion-item>
  </ion-card>  

  <ion-grid style="margin-top: 50px; margin-bottom: 25px;">
    <ion-row>
      <ion-col>
        <ion-button class="dash-button" (click)="goToPark()">
          <ion-img class="icon" src="../../assets/icons/cab.svg"></ion-img>
          Parc de voitures
        </ion-button>
        <ion-button class="dash-button" (click)="goToRentals()">
          <ion-img class="icon" src="../../assets/icons/papers.svg"></ion-img>
          Locations faites
        </ion-button>
        <ion-button class="dash-button" (click)="goToAccidents()">
          <ion-img class="icon" src="../../assets/icons/car-accident.svg"></ion-img>
          Accidents éventuels
        </ion-button>
        <ion-button class="dash-button" (click)="goToIncidents()">
          <ion-img class="icon" src="../../assets/icons/conversation.svg"></ion-img>
          Incidents clients
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button class="save-btn" color="primary" > <a href="#" class="logout" (click)="goToLogin()" >Se Deconecter</a></button>
  
</ion-content>
<style>
  
  .profile-card {
    border-radius: 5%;
    align-items: center;
  }
  .icon {
    width: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .dash-button {
    margin-top: 20px;
  width: 360px;
  height: 80px;
  border-radius: 10px;

  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  align-self: center; /* Center button horizontally */
    background-color: #4f5d7500;
  }
  .logout-element{
    position: absolute;
    right: 0;
  }
  .logout-icon{
    color: #e63946;
  }
  .details-title {
    font-size: 18px;
    font-weight: 700;
  }
  .details{
    font-size: 14px;
  }
  .details-labels {
    font-size: 16px;
  }
  .save-btn {
    margin-top: 20px;
    display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 180px;
        margin: 20px;
        margin-left: 100px;
        border-radius: 10px;
        border: 2px solid #ccc;
        background-color: #2196F3;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all 0.3s ease-in-out;
  }
</style>
