.profile-card {
    border-radius: 5%;
  }
  .icon {
    width: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .dash-button {
    margin-left: 11vw;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    border-radius: 3%;
    background-color: #4F5D75;
  }
  .logout{
    margin-left: 37%;
    text-decoration: none;
    color: #4F5D75;
    font-weight: 700;
  }