#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
    display: flex;
    flex-direction: column;
    
  
  //top: 50%;
  //transform: translateY(-50%);
}
#whorwe{
  --color: #ffffff;
  background-color: #032f4a7b;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card {
  --background: #000c2f;
  --color: #b5faff;
}

ion-card-title {
  --color: #52ffe4;
}

ion-card-subtitle {
  --color: #d1fff8;
}

ion-button {
  background-color: #d1fff8;
  --color: #000000;
}
ion-tabs {
  display: flex;
  
}

#firstcard {
  --background: none;
  background-image: url('https://wallpapercave.com/wp/wp1926439.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
#carent{
  --color: #034a43;
  
}
